<div class="square">
	 <app-laser-cannon></app-laser-cannon>
	<app-turret></app-turret>
  <app-turret></app-turret>
  <app-turret></app-turret>
  <app-turret></app-turret>
  <app-turret></app-turret>
  <app-turret></app-turret>
  <app-turret></app-turret>
  <app-turret></app-turret>
  <app-turret></app-turret>
  <app-turret></app-turret>
  <app-turret></app-turret>
  <app-turret></app-turret>
  <app-turret></app-turret>
  <app-turret></app-turret>
  <app-turret></app-turret>
  <app-turret></app-turret>
  <app-turret></app-turret>
  <app-turret></app-turret>
  <app-turret></app-turret>
  <app-turret></app-turret>
  <app-turret></app-turret>
  <app-turret></app-turret>
  <app-turret></app-turret>
  <app-turret></app-turret>
  <app-turret></app-turret>
  <app-turret></app-turret>
  <app-turret></app-turret>
  <app-turret></app-turret>
  <app-turret></app-turret>
  <app-turret></app-turret>
  <app-turret></app-turret>
  <app-turret></app-turret>
  <app-turret></app-turret>
  <app-turret></app-turret>
  <app-turret></app-turret>
  <app-turret></app-turret>
  <app-turret></app-turret>
  <app-turret></app-turret>
  <app-turret></app-turret>
  <app-turret></app-turret>
  <app-turret></app-turret>
  <app-turret></app-turret>
  <app-turret></app-turret>
  <app-turret></app-turret>
  <app-turret></app-turret>


</div>




