<div class="tieFighterContainer">
    <img src="/assets/tie-fighter.png" class="tie-fighter">
    <img src="/assets/tie-fighter.png" class="tie-fighter"> 
    <img src="/assets/tie-fighter.png" class="tie-fighter">
    <img src="/assets/tie-fighter.png" class="tie-fighter"> 
    <img src="/assets/tie-fighter.png" class="tie-fighter">
    <img src="/assets/tie-fighter.png" class="tie-fighter"> 
    <img src="/assets/tie-fighter.png" class="tie-fighter">
    <img src="/assets/tie-fighter.png" class="tie-fighter"> 
    <img src="/assets/tie-fighter.png" class="tie-fighter">
    <img src="/assets/tie-fighter.png" class="tie-fighter"> 
    <img src="/assets/tie-fighter.png" class="tie-fighter">
    <img src="/assets/tie-fighter.png" class="tie-fighter"> 
    <img src="/assets/tie-fighter.png" class="tie-fighter">
    <img src="/assets/tie-fighter.png" class="tie-fighter"> 

</div>
